parameters:
    level: 8

    treatPhpDocTypesAsCertain: false

    excludePaths:
        - */Fixture/*

    paths:
        - bin
        - src
        - tests

    ignoreErrors:
        -
            message: '#PHPDoc tag @var with type string is not subtype of native type non-empty-string\|false#'
            path: src/Command/RunCommand.php
