parameters:
    level: 8

    treatPhpDocTypesAsCertain: false

    excludePaths:
        - */Fixture/*

    paths:
        - bin
        - src
        - tests

    ignoreErrors:
        - '#Method TomasVotruba\\PHPStanBodyscan\\Command\\RunCommand::execute\(\) never returns (1|2) so it can be removed from the return type#'
        -
            message: '#PHPDoc tag @var with type string is not subtype of native type non-empty-string\|false#'
            path: src/Command/RunCommand.php
