includes:
    - vendor/symplify/phpstan-rules/config/code-complexity-rules.neon
    - vendor/symplify/phpstan-rules/config/naming-rules.neon
    - vendor/symplify/phpstan-rules/config/static-rules.neon

parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors:
        - false
        - false

    excludePaths:
        - */Fixture/*

    paths:
        - bin
        - src
        - tests

    ignoreErrors:
        - '#Method TomasVotruba\\PHPStanBodyscan\\Command\\RunCommand::execute\(\) never returns (1|2) so it can be removed from the return type#'
        -
            message: '#PHPDoc tag @var with type string is not subtype of native type non-empty-string\|false#'
            path: src/Command/RunCommand.php
